# Jetbrains
.idea/*

# VS Code
.vscode
jsconfig.json

# Vim
*~
*.sw?

# direnv files
.envrc

# nvm config files files
.nvmrc

# pyenv settings
.python-version

# ignore default venv created by poetry
.venv
