[core]
	editor = vim
	excludesfile = ~/.gitignore

[commit]
	template = ~/.git_commit_message.txt

[color]
	ui = auto

[advice]
	statusHints = false

[alias]
	# short aliases for the most common commands
	s = status
	l = log
	c = commit
	d = diff
	a = add

	# unify listing of objects
	tags = tag
	remotes = remote -v
	branches = branch -a
	stashes = stash list

	unstage = reset --
	discard = checkout --
	partialdiscard = checkout -p --
	staged = diff --cached
	amend = commit --amend
	# skip ci in gitlab
	push-no-ci = push -o ci.skip

	# Mark a file as "assume unchanged", which means that Git will treat it
	# as though there are no changes to it even if there are. Useful for
	# temporary changes to tracked files
	assume = update-index --assume-unchanged
	# Reverse the above
	unassume = update-index --no-assume-unchanged
	# Show the files that are currently assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"

	# Command to cleanup dirs after makepkg
	cleanpkg = clean -xdf

[push]
	default = simple

[diff]
	mnemonicprefix = true

[merge]
	tool = vimdiff

[include]
	path = ~/.gitconfig.local
[pull]
	rebase = true

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	diff-highlight = true
	file-style = normal
	plus-style = syntax "#333B2F"
	line-numbers-minus-style = red
	line-numbers-plus-style = green
	plus-emph-style = syntax "#276109"
	minus-style = syntax "#462b2a"
	minus-emph-style = syntax "#67130f"
	minus-empty-line-marker-style = normal
	plus-empty-line-marker-style = normal
	zero-style = syntax
	hunk-header-style = omit
	line-numbers = true
	syntax-theme = gruvbox-dark
